@import "main-menu.css";
.side-panel{
    left: 0;
    width: 20%;
    height: 100%;
    position: absolute;
    background: #FFF;
    border-right: 1px solid #abc;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.game-box{
    width: 50%;
    height: 80%;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
}
.cell{
    cursor: pointer;
    background: #FFF;
    width: 33%;
    height: 33.1%;
    border: 1px solid rgb(58, 58, 58);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10em;
}

.endgame-section{
    position: absolute;
    z-index: 15;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.endgame-section::before{
    z-index: 20;
    content: "";
    background: rgb(56, 56, 56);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.70;
}
.aftergame{
    border-radius: 20px;
    z-index: 35;
    width: 30%;
    height: 80%;
    background: #FFF;
    border: 2px solid #abc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px 200px 30px;
}
.aftergame button{
    background: #abc;
    border-radius: 10px;
    color: #FFF;
    font-size: 2em;
    width: 50%;
    min-height: 10%;
    height: auto;
    border: 1px solid #abc;
}
.aftergame button:hover{
    background: #FFF;
    color: #abc;
    border: 1px solid #abc;
    transition: background 0.7s ease-out;
    cursor: pointer;
}
#winner{
    text-align: center;
    color: rgb(30, 180, 93);
    font-weight: bold;
    font-size: 3em;
}
h1{
    text-align: center;
}